@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');
@import 'styles/config';
@import 'styles/utilities';

* {
  padding: 0;
  margin: 0;
}

body {
  background: $bg-black;
  font-family: 'Outfit', sans-serif;
  color: $white;
}

button {
  border: none;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}

input {
  border: none;
  outline: none;
}

a {
  color: $red;
  text-decoration: none;
}

// Register Page
#register-container {
  #register-info {
    height: 354px;
  }
}

// Navbar
#navbar-container {
  height: calc(100vh - 64px);
  width: 96px;
  position: fixed;
  left: 32px;
  top: 32px;
  border-radius: 20px;
  background-color: $v-dk-grey;

  #navbar-icon {
    position: absolute;
    top: 36px;
    left: 32px;
  }

  #navbar-links {
    position: absolute;
    height: 200px;
    width: 20px;
    left: 38px;
    top: 136px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

    svg {
      path{
        pointer-events: none;
      }
      &:hover {
        cursor: pointer;
        fill: $red;
      }
    }
    }

  #logout-btn {
    position: absolute;
    height: 20px;
    width: 70px;
    left: 13px;
    bottom: 122px;
    background: $red;
    border-radius: 6px;
    color: $white;
    font-family: 'Outfit', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 19px;
  
    &:hover {
      background: $white;
      color: $bg-black;
      cursor: pointer;
    }
  }

  #prof-pic {
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    left: 13px;
    bottom: 32px;
    background-image: url(images/prof-pic-resize.jpg);
  }
}

// Searchbar
#searchbar-container {
  position: absolute;
  top: 64px;
  left: 164px;
  width: calc(100vw - 200px);

  #search-icon {
    position: relative;
    margin-right: 24px;
    top: 10px;
  }
}

// Content container
#content-container {
  width: calc(100vw - 196px);
  margin-left: 164px;
  margin-top: 130px;
}

// Trending
#trending-container {
  height: 295px;
  margin-bottom: 40px;

  #trending-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

// Recommended
#recommended-container {
  width: calc(100vw - 196px);

  #recommended-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }
}