@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');
@import 'styles/config';
@import 'styles/utilities';

* {
  padding: 0;
  margin: 0;
}

body {
  background: $bg-black;
  font-family: 'Outfit', sans-serif;
  color: $white;
}

button {
  border: none;
  outline: none;
}

input {
  border: none;
  outline: none;
}

// Login Page
#login-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  #login-info {
    width: 336px;
    height: 309px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    background-color: $v-dk-grey;
  }

  #login-title {
    align-self: flex-start;
  }

  a {
    color: $red;
    text-decoration: none;
  }
}